
{{!-- all of this will be rendered as {{{body}}} in index.handlebars --}}
<h1>What's going on!</h1>
<p>Yooooo</p>

<ul>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
</ul>