
{{!-- all of this will be rendered as {{{body}}} in list.handlebars --}}
<h1>Check out this really cool list</h1>
<p>Check it out</p>

<ul>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
</ul>