
<ol>
    <li class="ordered-list-item">First item</li>
    <li class="ordered-list-item">Second item</li>
    <li class="ordered-list-item">Third item</li>
    <li class="ordered-list-item">Fourth item</li>
    <li class="ordered-list-item">Fifth item</li>
</ol>

{{!-- no need to export this, just using {{> orderedList}} will be enough for handlebars to know --}}